$primary-color: #536758; // the green background
$secondary-color: #2a2a2a; //first dark background
$third-color: #2b2b2b; //second dark background

$white-color-primary: #ffffff;
$white-color-secondary: #f9f9f9; // 3rd section body background and products header background

$black-color: #000000;
