@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

$text-2xl: clamp(5.63rem, calc(5.27rem + 1.79vw), 6.88rem); // min 90 max 110
$text-46px: clamp(2.38rem, calc(2.23rem + 0.71vw), 2.88rem); // min 38 max 46
$text-xl: clamp(1.25rem, calc(1.18rem + 0.36vw), 1.5rem); //min 20 max 24
$text-20: clamp(1.06rem, calc(1.01rem + 0.27vw), 1.25rem); //min 17 max 20
$text-base: clamp(0.88rem, calc(0.84rem + 0.18vw), 1rem); // min 14, max 16
$text-xbase: clamp(0.81rem, calc(0.78rem + 0.18vw), 0.94rem); // min 13, max 15
$text-sm: clamp(0.75rem, calc(0.71rem + 0.18vw), 0.88rem); // min 12, max 14

@mixin primary_font_regular_300 {
  font-size: 15px;
  color: #939393;
  font-style: normal;
  font-weight: 300;
}
@mixin primary_heading_700 {
  font-size: 110px;
  font-style: normal;
  letter-spacing: -2.5px;
  font-weight: 700;
  line-height: 1.25;
}
@mixin primary_hero_regular {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}
@mixin primary_component_heading {
  font-size: 16px;
  color: #536758;
  font-style: normal;
  font-weight: 300;
}

@mixin primary_component_title {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  color: #536758;
}

@mixin primary_product_card {
  font-size: 14px;
  color: #536758;
  font-style: normal;
  letter-spacing: 1.5px;
  font-weight: 300;
}

@mixin primary_product_name {
  font-size: 46px;
  color: #2b2b2b;
  font-style: normal;
  letter-spacing: -0, 8px;
  font-weight: 400;
}
@mixin primary_product_subtitle {
  font-size: 24px;
  color: #536758;
  font-style: normal;
  letter-spacing: 0px;
  font-weight: 300;
}

@mixin primary_sidebar_title {
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.6px;
  color: #3c3d48;
  font-weight: 600;
}

@mixin secondary_sidebar {
  font-size: 14px;
  color: #939393;
  font-style: normal;
  letter-spacing: -0.1px;
  font-weight: 300;
}

@mixin secondary_sidebar_selected {
  font-size: 14px;
  color: #536758;
  font-style: normal;
  letter-spacing: -0.1px;
  font-weight: 300;
}
