@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;1,700&display=swap');
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  line-height: 1.25;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
